.img-contain {
  
    img {
        width: 786px;
       
    }
}

.start-trial {

    width: 17.06rem;
    height: 4.5rem;
    background-color: #462686;
    color: white;
    border-radius: 6.25rem;
    font-size: 1.125rem;
    font-weight: bold;

}
.crm {
    background-color: #462686;

}
.choose {
    background-color: #7837F8;
}
.purple-btn {

    width: 17.06rem;
    height: 4.5rem;
    background-color: #462686;
    color: white;
    border-radius: 6.25rem;
    font-size: 1.125rem;
    font-weight: bold;

}